body{
    background:url(../images/bg.jpg);

}
.login-form{
    width:400px;
    height:auto;
    margin: calc(35% - 300px) auto;
    padding:15px;
    background-color: #918f8f;
    border-radius:15px;
    border:2px solid rgb(60, 74, 138);
}
img.logo{
    width:90px;
    height:90px;
    position:absolute;
    margin-top:-70px;
    border-radius:50%;
    margin-left:160px;
    border:3px solid  rgb(60, 74, 138);
}
form{
    margin-top:40px;
}
label{
    width:100%;
    color:#fff;
}

input,button{
    border-radius:10px;
    border:1px solid rgb(99, 98, 98);
}

input{
    margin-bottom:15px;
    padding:5px 10px;
    height:32px;
    width: calc(100% - 25px);
    margin-top:10px;
    position:relative;
}
input:focus{
  border:1px solid red;
  outline:none;
}

button{
    padding:10px 15px;
    background-image:linear-gradient(to bottom, gray,white);

}
button:hover{
    cursor: pointer;
    background-image:linear-gradient(to bottom, rgb(177, 175, 175),rgb(204, 202, 202));
    color:#fff;

}
